<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
  <link href="signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <%- include('./partials/nav'); %>
  <%- include('./partials/error'); %>
  <div class="container mx-auto">
    <div class="row">
      <form class="form-signin justify-content-center" action="login">
        <h1 class="h3 mb-3 font-weight-normal">Login To Add Billboard to your Spotify Playlist</h1>
        <input type="submit" class="btn btn-success btn-lg btn-block" value="Login With Spotify">
      </form>
    </div>
  </div>
  <footer class="footer">
    <%- include('./partials/footer'); %>
  </footer>
  <%- include('./partials/scripts'); %>
</body>

</html>
